* {
    font-family: RobotoMono;
    font-size: 12px;
    border: none;
    border-radius: 0px;
}

/* Tooltips */
tooltip {
	background-color: @tooltips_bg;
	border: 2px solid white;
	padding: 2px;
}

tooltip label {
	font-weight: bold;
	color: @tooltips-fg;
}
